<!DOCTYPE html>
<html>
  <head>
    <title>Parent</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
      /**
         * Handle a message that was sent from some window.
         *
         * @param {MessageEvent} event The MessageEvent object holding the message/data.
         */
         function handleMessage(event) {
            console.log("Received a message from " + event.origin + ".");
    
            // When one window sends a message, or data, to another window via
            // `parent.postMessage()`, the message (the first argument) in the
            // `parent.postMessage()` call is accessible via `event.data` here.
            var messageFromSender = event.data;
    
            // Do something with the data.
            console.log(messageFromSender);
        }
        if (window.addEventListener) {
            window.addEventListener("message", handleMessage, true);
        } else {
            window.attachEvent("onmessage", handleMessage);
        }
    </script>
  </head>
  <body>
    
    <h4> Your name is </h4>
    <p id="name">Waiting for response</p>
    <button onclick="window.open('http://localhost:3001')">Click Me!</button>
  </body>
</html>
